@{ 
    ViewData["Title"] = "Help";
}

<h2 class="text-center">Help page</h2>
<br />
<p>
    Welcome to our help page. Here you can find some steps on how to work with the features. For more information,
    feature requests or other issues, please contact our support team.
</p>
<div class="container">
    <p class="font-weight-bold">Creating a new invoice.</p>
    <img src="~/img/001Tutorial001.jpg" alt="App tutorial image - new invoice." />
</div>

<div class="container">
    <p class="font-weight-bold">Editing a new invoice.</p>
    <img src="~/img/002Tutorial002.jpg" alt="App tutorial image - editing a new invoice." />
</div>

<div class="container">
    <p class="font-weight-bold">Adding a new invoice detail.</p>
    <img src="~/img/003Tutorial003.jpg" alt="App tutorial image - adding a new invoice detail." />
</div>

<div class="container">
    <p class="font-weight-bold">Editing an invoice detail.</p>
    <img src="~/img/004Tutorial004.jpg" alt="App tutorial image - editing an invoice detail." />
</div>

<div class="container">
    <p class="font-weight-bold">Searching invoices.</p>
    <img src="~/img/005Tutorial005.jpg" alt="App tutorial image - searching invoices." />
</div>

<div class="container">
    <p class="font-weight-bold">Entering the edit mode on existing invoices.</p>
    <img src="~/img/006Tutorial006.jpg" alt="App tutorial image - entering edit mode of existing invoices." />
</div>

