@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col-5">
            <p>Press the Seed button to add 3 invoices and details to the database.</p>
        </div>
        <div class="col-3">
            <form method="post" asp-action="SeedData" asp-controller="Home">
                <button class="btn btn-primary" asp-action="SeedData" asp-controller="Home">Seed data</button>
            </form>
        </div>
    </div>
</div>
